  .Game {
    background-image: url('./background.png');
    width: 100%;
    background-size: 100%;
    background-position: 'center top';
    height: 1000px;
    background-repeat: no-repeat;
    font-family: "VGA";
  }

  .Game-header {
    text-align: center;
    align-items: center;
    font-size: 80px;
    padding: 20px;
    color: white;
    text-shadow: 0 0 1px rgb(0, 0, 0);
  }

  .question-container {
    position: absolute;
    justify-content: center; 
  }
  
  .question {
    margin-left: 120px;
    margin-top: 0px;
    font-size: 50px; 
    width: 60%;
    text-align: center;
    text-wrap: balance;
    color: rgb(171, 248, 47);   
    text-shadow: 0 0 1px rgb(0, 0, 0);
  }

  .feedback {
    margin-left: 130px;
    margin-top: 60px;
    font-size: 50px; 
    width: 50%;
    text-align: center;
    color: rgb(255, 145, 0); 
    text-shadow: 2px 2px 0px  #000000, -2px -2px 0px  #000000, 2px -2px 0px  #000000, -2px 2px 0px  #000000; 
  }
  
  .avatar {
    position: absolute;
    top: 200px;
    left: 1000px;
    width: 400px;
  }

  .wellness {
    position: absolute;
    top: 710px;
    left: 900px;
    font-size: 60px;
    text-align: center;
    color:#f2d3d3;
    padding-left: 50px;
    padding-right: 50px;
    text-shadow: 0 0 20px #FF0000, 0 0 10px #0000FF;
  }

  .yes_button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 60px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #000000;
    background-color: #1cde0a;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    font-family: '3D';
    margin-top: 50px;
    margin-left: 330px;
    margin-right: 100px;
  }
  
  .yes_button:hover {background-color: #158309}
  
  .yes_button:active {
    background-color: #0f6505;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .no_button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 60px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #000000;
    background-color: #f33602;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    font-family: '3D';
    margin-top: 50px;
  }
  
  .no_button:hover {background-color: #6d1c0a}
  
  .no_button:active {
    background-color: #6d1c0a;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .continue {
    display: inline-block;
    padding: 15px 25px;
    font-size: 60px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #000000;
    background-color: #1cde0a;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    font-family: '3D';
    margin-top: 50px;
  }
  
  .continue:hover {background-color: #158309}
  
  .continue:active {
    background-color: #158309;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }