  .Game {
    background-image: url('./background.png');
    width: 100%;
    background-size: 100%;
    background-position: 'center top';
    height: 1000px;
    background-repeat: no-repeat;
    font-family: "VGA";
  }

  .Game-header {
    text-align: center;
    align-items: center;
    font-size: 80px;
    padding: 20px;
    color: white;
  }

  .question-container {
    position: absolute;
    justify-content: center; 
  }
  
  .question {
    margin-left: 130px;
    margin-top: 0px;
    font-size: 50px; 
    width: 50%;
    text-align: center;
    color: rgb(171, 248, 47); 
  }

  .feedback {
    margin-left: 130px;
    margin-top: 60px;
    font-size: 50px; 
    width: 50%;
    text-align: center;
    color: rgb(253, 173, 1); 
    text-shadow: 0 0 8px #FF0000, 0 0 8px #0000FF;  
  }
  
  .avatar {
    position: absolute;
    top: 200px;
    left: 1000px;
    width: 400px;
  }

  .wellness {
    position: absolute;
    top: 710px;
    left: 900px;
    font-size: 60px;
    text-align: center;
    color:#ffffff;
    padding-left: 50px;
    padding-right: 50px;
    text-shadow: 0 0 20px #FF0000, 0 0 10px #0000FF;
  }

  .yes_button {
    background-color: #4CAF50; 
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 60px;
    margin-left: 300px;
    font-family: '3D';
  }
  .no_button {
    background-color: #4CAF50;
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 32px; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 60px;
    margin-left: 100px;
    font-family: '3D';
  }