  .SelectAvatar {
    background-image: url('./start_background.jpg');
    width: 100%;
    height: 1000px;
  }
  .SelectAvatar-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 55px;
    color: rgb(27, 21, 87);
    font-family: "VGA";
    font-weight: 1000;
    text-shadow: 0 0 8px #f79001;  
  }

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    margin-left: 60px;
    margin-right: 60px;
    float: left;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }