  .SelectAvatar-header {
    background-image: url('./start_background.png');
    width: 100%;
    background-size: 100%;
    background-position: 'center top';
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 55px;
    color: rgb(27, 21, 87);
    font-family: "VGA";
    font-weight: 1000;
    text-shadow: 0 0 8px #f79001;  
  }

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }