@font-face {
  font-family: "3D";
  src: local("3Dventure"),
    url("./fonts/3Dventure.ttf") format("truetype");
}

@font-face {
  font-family: "VGA";
  src: local("VGA"),
    url("./fonts/VGA.ttf") format("truetype");
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

